body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/************
 Header Area
 ************/
 header{
    width: 1340px;
    height: 565px;
    background-color: #2d25A0;
    
}
.header-content{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.header-title{
    margin-left: 140px;
}
.header-title h1{
    color: #fff;
    font-size: 65px;
    font-weight: 700;
    line-height: 80px;
    margin: 0;

}
.header-button{
    color: #fff;
    background-color: #E02C6D;
    width: 170px;
    height: 45px;
    padding:10px 25px;
    border: none;
    margin-top: 48px;

}
 .header-image img{

      width: 555px;
      height: 440px;
      margin-right: 140px;


 }


                                /***********************************
                                        start Blog section
                                ************************************/
 main{
     display: flex;
     flex-direction: column;
     align-items: center;

 }
.container{
    width: 1040px;
    margin-top: 65px;
    margin-right: 40px;
}
 .players{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-column-gap: 20px;
     grid-row-gap: 30px;
    
 }
 .player{
    width: 330px;
    height: 475px;
    padding:15px 0px 20px 25px;
    margin: 0;
    box-shadow: 0px 0px 25px 12px #f8f8f8;
    
 }
 .player img{
     width: 300px;
     height: 250px;
 }
 .player p{
    width: 300px;
 }


                                /*******************************
                                          Start footer 
                                *******************************/

 .footer-area{
     width:480px ;
     height:215px ;
     display: flex;
     flex-direction: column;
     /* justify-content: center; */
     align-items: center;
     margin: auto;
     
 }
  .footer-area img{
      width: 380px;
      height: 120px;
      margin-top:80px ;
      display: block;
      
  }
  .social-icon{
      text-align: center;
  }

  .fab{
      background-color:#e7e7e8;
      color: rgb(119, 116, 116);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      padding:7px 5px 5px 5px;
      text-decoration: none;
      text-align: center;
    
     
  }
  
  